@{
    ViewBag.Title = "FAQ 등록";
}
<div id="content" class="reg">
    <div class="cont_top">
        <h3>FAQ 등록</h3>
    </div>
    <div class="cont_bottom">
        <form method="post" enctype="multipart/form-data">
            <table class="reg_table">
                <caption>FAQ 입력 테이블</caption>
                <colgroup>
                    <col width="130px">
                    <col width="870px">
                </colgroup>
                <tr>
                    <th scope="row">작성자</th>
                    <td>@HttpContext.Current.User.Identity.Name</td>
                </tr>
                <tr>
                    <th scope="row"><label for="category">구분</label></th>
                    <td>
                        <select name="category" id="category">
                            <option value="leaseIntro">리스 소개</option>
                            <option value="contract">계약/등록</option>
                            <option value="finance">금융조건의 변경</option>
                            <option value="cost">비용/서류 </option>
                            <option value="process">리스 승계 만기 시 처리</option>
                            <option value="insurance">보험</option>
                            <option value="overdue">연체</option>
                            <option value="accounting">회계처리</option>
                            <option value="homepage">홈페이지 이용 관련</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><label for="question">* 항목</label></th>
                    <td><input type="text" name="question" id="question" class="question" maxlength="50" value="" /></td>
                </tr>
                <tr>
                    <th scope="row"><label for="answer">* 답변</label></th>
                    <td><textarea rows="20" cols="30" id="answer" name="answer"></textarea> </td>
                </tr>
                <tr>
                    <th><label for="">배포 *</label></th>
                    <td class="radio_area">
                        <label for="active"><input type="radio" name="deployYn" id="active" value="Y" title="배포 여부"> 배포</label>
                        <label for="inactivity"><input type="radio" name="deployYn" id="inactivity" checked value="N" title="배포 여부"> 미배포</label>
                    </td>
                </tr>
            </table>
        </form>
        <div class="btn_area">
            <a href="list?@Session["searchString"]" class="btn_defualt btn_list">목록</a>
            <a href="javascript:void(0);" class="btn_defualt btn_reg" onclick="regForm();">등록</a>
        </div>
    </div>
</div>
<script>
    lnbSet(8, 1);
    function regForm() {

        if (!confirm('등록하시겠습니까?')) return;
        if (!$('#question').required()) return;
        if (!$('#answer').required()) return;
        $('#content form').attr('action', 'registerProc').submit();
    };

</script>