@{
    ViewBag.Title = "FAQ 등록";
}
<div id="content" class="reg">
    <div class="cont_top">
        <h3>FAQ 등록</h3>
    </div>
    <div class="cont_bottom">
        <form method="post" enctype="multipart/form-data">
            <table class="reg_table">
                <caption>FAQ 입력 테이블</caption>
                <colgroup>
                    <col width="130px">
                    <col width="870px">
                </colgroup>
                <tr>
                    <th scope="row"><label for="regId">작성자</label></th>
                    <td>@HttpContext.Current.User.Identity.Name<input type="hidden" name="regId" id="regId" value="@HttpContext.Current.User.Identity.Name" /></td>
                </tr>
                <tr>
                    <th scope="row"><label for="category">구분</label></th>
                    <td>
                        <select name="category" id="category">
                            <option value="리스 소개">리스 소개</option>
                            <option value="계약/등록">계약/등록</option>
                            <option value="금융조건의 변경">금융조건의 변경</option>
                            <option value="비용/서류">비용/서류 </option>
                            <option value="리스 승계 만기 시 처리">리스 승계 만기 시 처리</option>
                            <option value="보험">보험</option>
                            <option value="연체">연체</option>
                            <option value="회계처리">회계처리</option>
                            <option value="홈페이지 이용 관련">홈페이지 이용 관련</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><label for="ask">* 항목</label></th>
                    <td><input type="text" name="ask" id="ask" class="ask" maxlength="50" value="" /></td>
                </tr>
                <tr>
                    <th scope="row"><label for="question">* 답변</label></th>
                    <td><textarea rows="20" cols="30" id="question" name="question"></textarea> </td>
                </tr>
                <tr>
                    <th><label for="">배포 *</label></th>
                    <td class="radio_area">
                        <label for="active"><input type="radio" name="deployYn" id="active" value="Y" title="배포 여부"> 배포</label>
                        <label for="inactivity"><input type="radio" name="deployYn" id="inactivity" checked value="N" title="배포 여부"> 미배포</label>
                    </td>
                </tr>
            </table>
        </form>
        <div class="btn_area">
            <a href="list?@Session["searchString"]" class="btn_defualt btn_list">목록</a>
            <a href="javascript:void(0);" class="btn_defualt btn_reg" onclick="regForm();">등록</a>
        </div>
    </div>
</div>
<script>
    lnbSet(9, 1);
    function regForm() {

        if (!confirm('등록하시겠습니까?')) return;
        if (!$('#ask').required()) return;
        if (!$('#question').required()) return;
        $('#content form').attr('action', 'registerProc').submit();
    };

</script>