@{
    ViewBag.Title = "메인롤링 등록";
}
<div id="content" class="reg">
    <div class="cont_top">
        <h3>메인롤링</h3>
    </div>
    <div class="cont_bottom rolling">
        <form method="post" enctype="multipart/form-data">
            <table class="reg_table">
                <colgroup>
                    <col width="130px" />
                    <col width="870px" />
                </colgroup>
                <tr>
                    <th>작성자 </th>
                    <td>@HttpContext.Current.User.Identity.Name</td>
                </tr>
                <tr>
                    <th><label for="title">제목 *</label></th>
                    <td><input type="text" name="title" id="title" class="input_long_type" title="제목" maxlength="100"></td>
                </tr>
                <tr>
                    <th><label for="sdate">게시 기간 *</label></th>
                    <td><input type="date" id="sdate" name="startDate" title="게시 시작일"> ~ <input type="date" id="edate" name="endDate"title="게시 종료일"></td>
                </tr>
                <tr>
                    <th><label for="">영문 사이트 *</label></th>
                    <td class="radio_area">
                        <label for="y"><input type="radio" name="engSite" id="y" value="Y" title="영문 사이트"> 있음</label>
                        <label for="n"><input type="radio" name="engSite" id="n" checked value="N" title="영문 사이트"> 없음</label>
                    </td>
                </tr>
                <tr>
                    <th><label for="order">순서 *</label></th>
                    <td><input type="text" name="order" id="order" class="tel_num_input" title="순서"></td>
                </tr>
                <tr>
                    <th><label for="">배포</label></th>
                    <td class="radio_area">
                        <label for="active"><input type="radio" name="deployYn" id="active" value="Y" title="배포 여부"> 배포</label>
                        <label for="inactivity"><input type="radio" name="deployYn" id="inactivity" checked value="N" title="배포 여부"> 미배포</label>
                    </td>
                </tr>
                
            </table>

            <table class="reg_table">
                <colgroup>
                    <col width="130px" />
                    <col width="870px" />
                </colgroup>
                <tr class="add_img_area">
                    <th>롤링 이미지 (국문)*</th>
                    <td class="file_area">
                        <div class="attach_file">
                            <span class="file_src"></span>
                            <input type="file" class="input_file" name="files" id="attachFile">
                            <label for="attachFile" class="btn_file">파일찾기</label>   사이즈 1400*600
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><label for="korButtonName">버튼명 *</label></th>
                    <td><input type="text" name="korButtonName" id="korButtonName" class="input_long_type" title="버튼명" maxlength="100"></td>
                </tr>
                <tr>
                    <th><label for="korButtonUrl">버튼 URL *</label></th>
                    <td><input type="text" name="korButtonUrl" id="korButtonUrl" class="input_long_type" title="버튼 URL" maxlength="100"></td>
                </tr>
            </table>
            <div class="rolling_list">
                <table class="reg_table">
                    <colgroup>
                        <col width="130px" />
                        <col width="870px" />
                    </colgroup>
                    <tr class="add_img_area">
                        <th>롤링 이미지 (영문)*</th>
                        <td class="file_area">
                            <div class="attach_file">
                                <span class="file_src"></span>
                                <input type="file" class="input_file" name="files" id="attachFile">
                                <label for="attachFile" class="btn_file">파일찾기</label>   사이즈 1400*600
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="engButtonName">버튼명 *</label></th>
                        <td><input type="text" name="engButtonName" id="engButtonName" class="input_long_type" title="버튼명" maxlength="100"></td>
                    </tr>
                    <tr>
                        <th><label for="engButtonUrl">버튼 URL *</label></th>
                        <td><input type="text" name="engButtonUrl" id="engButtonUrl" class="input_long_type" title="버튼 URL" maxlength="100"></td>
                    </tr>
                </table>
            </div>
            <input type="hidden" name="regId" id="regId" value="@HttpContext.Current.User.Identity.Name" />
        </form>
        <div class="btn_area">
            <a href="list" class="btn_defualt btn_list">목록</a>
            <a href="javascript:void(0);" class="btn_defualt btn_reg" onclick="regForm();">등록</a>
        </div>
    </div>
</div>
<script>
    lnbSet(1, 1);

    function regForm() {
    if (!$('#title').required()) return;
    if (!$('#sdate').required()) return;
    if (!$('#edate').required()) return;
    if (!confirm('등록하시겠습니까')) return;
    $('#content form').attr('action', 'registerProc').submit();
};
</script>
