@{
    ViewBag.Title = "전시장 관리";
}
<div id="content" class="reg">
    <div class="cont_top">
        <h3>전시장 관리 등록</h3>
    </div>
    <div class="cont_bottom">
        <form method="post">
            <table class="reg_table">
                <caption>전시장 관리 입력 테이블</caption>
                <colgroup>
                    <col width="130px">
                    <col width="870px">
                </colgroup>                
                <tr>
                    <th scope="row"><label for="brand">브랜드 *</label></th>
                    <td>
                        <select name="brand" id="brand">
                            <option value="BMW">BMW</option>
                            <option value="MINI">MINI</option>
                            <option value="Motorrad">Motorrad</option>
                            <option value="BPS">BPS</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><label for="showroomName">전시장명 *</label></th>
                    <td><input type="text" name="showroomName" id="showroomName" maxlength="30" value="" title="전시장명" /></td>
                </tr>
                <tr>
                    <th scope="row"><label for="dealerName">딜러명 *</label></th>
                    <td><input type="text" name="dealerName" id="dealerName" maxlength="10" value="" title="딜러명" /></td>
                </tr>
                <tr>
                    <th scope="row"><label for="location">지역 *</label></th>
                    <td>
                        <select name="location" id="location" title="지역">
                            <option value="서울">서울</option>
                            <option value="부산">부산</option>
                            <option value="대구">대구</option>
                            <option value="인천">인천</option>
                            <option value="광주">광주</option>
                            <option value="대전">대전</option>
                            <option value="울산">울산</option>
                            <option value="세종">세종</option>
                            <option value="경기">경기</option>
                            <option value="강원">강원</option>
                            <option value="충북">충북</option>
                            <option value="충남">충남</option>
                            <option value="전북">전북</option>
                            <option value="전남">전남</option>
                            <option value="경북">경북</option>
                            <option value="경남">경남</option>
                            <option value="제주">제주</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><label for="address">주소 *</label></th>
                    <td><input type="text" name="address" id="address" class="input_long_type" maxlength="110" value="" title="주소" placeholder="서울특별시 강남구 도산대로 301 (신사동 630-7)" /></td>
                </tr>
                <tr>
                    <th scope="row"><label for="">위치 좌표 *</label></th>
                    <td>
                        <input type="text" name="lat" id="lat" maxlength="50" value="" placeholder="위도" title="위도" />
                            /
                        <input type="text" name="lng" id="lng" maxlength="50" value="" placeholder="경로" title="경도"/>
                        <a href="javascript:void(0);" class="btn_small" onclick="javascript:showGoogleMap();">구글맵</a> * 구글맵에서 나타나는 위도, 경도 값을 입력해주세요.
                    </td>
                </tr>
                <tr>
                    <th scope="row"><label for="tel1">전화번호 *</label></th>
                    <td>
                        <select name="tel1" id="tel1" title="지역번호">
                            <option value="02">02</option>
                            <option value="051">051</option>
                            <option value="053">053</option>
                            <option value="032">032</option>
                            <option value="062">062</option>
                            <option value="042">042</option>
                            <option value="052">052</option>
                            <option value="044">044</option>
                            <option value="031">031</option>
                            <option value="033">033</option>
                            <option value="043">043</option>
                            <option value="041">041</option>
                            <option value="063">063</option>
                            <option value="061">061</option>
                            <option value="054">054</option>
                            <option value="055">055</option>
                            <option value="064">064</option>
                            <option value="없음">없음</option>
                        </select>
                        -
                        <input type="text" name="tel2" id="tel2" class="telNum" maxlength="4" value="" title="전화번호 중간"  />
                        -
                        <input type="text" name="tel3" id="tel3" class="telNum" maxlength="4" value="" title="전화번호 뒷자리"/>
                    </td>
                </tr>
                <tr>
                    <th><label for="businessTime">영업시간 *</label></th>
                    <td><textarea name="businessTime" id="businessTime" title="영업시간" placeholder="[평일] 9:00 ~ 18:00&#10;[토요일] 9:00 ~ 18:00&#10;[일요일] 9:00 ~ 18:00&#10;[공휴일] 9:00 ~ 18:00"></textarea></td>
                </tr>
                <tr>
                    <th><label for="">배포 *</label></th>
                    <td class="radio_area">
                        <label for="active"><input type="radio" name="deployYn" id="active" value="Y" title="배포 여부"> 배포</label>
                        <label for="inactivity"><input type="radio" name="deployYn" id="inactivity" checked value="N" title="배포 여부"> 미배포</label>
                    </td>
                </tr>
            </table>
        </form>
        <div class="btn_area">
            <a href="list?@Session["searchString"]" class="btn_defualt btn_list">목록</a>
            <a href="javascript:void(0);" class="btn_defualt btn_reg" onclick="regForm();">등록</a>
        </div>
    </div>
</div>
<script>
    lnbSet(".showroom_mgmt");

    $(document).ready(function () {
        $(".telNum").keyup(function () { $(this).val($(this).val().replace(/[^0-9]/g, "")); }); //숫자만 입력가능
    });


    function regForm() {
        if (!$('#brand').required()) return;
        if (!$('#showroomName').required()) return;
        if (!$('#dealerName').required()) return;
        if (!$('#location').required()) return;
        if (!$('#address').required()) return;
        if (!$('#lat').required()) return;
        if (!$('#lng').required()) return;
        if (!$('#tel1').required()) return;
        if (!$('#tel2').required()) return;
        if (!$('#tel3').required()) return;
        if (!$('#businessTime').required()) return;

        if (!confirm('등록하시겠습니까?')) return;
        $('#content form').attr('action', 'registerProc').submit();
    };

    function showGoogleMap() {
        if (!$('#lat').required()) return;
        if (!$('#lng').required()) return;

        window.open('https://www.google.co.kr/maps/place/@@' + $('#lat').val() + ',' + $('#lng').val() + ',17z','_blank');

    }

</script>