
<head>
    <style>
        .file_area:after{content:"* .png 파일만 업로드 가능";}
        .file_area > div{height: 38px;}
    </style>
</head>
<div id="content" class="reg">
    <div class="cont_top">
        <h3>차량 이미지 관리 등록</h3>
    </div>
    <div class="cont_bottom">
        <form method="post" enctype="multipart/form-data">
            <table class="reg_table">
                <colgroup>
                    <col width="130px" />
                    <col width="870px" />
                </colgroup>
                <tr>
                    <th>작성자 </th>
                    <td>@HttpContext.Current.User.Identity.Name</td>
                </tr>
                <tr>
                    <th><label for="">분류 *</label></th>
                    <td class="">
                        <select id="brand" name="brand">
                            <option value="">브랜드</option>
                        </select>
                        <select id="series" name="series">
                            <option value="">시리즈</option>   
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><label for="">상세모델 *</label></th>
                    <td><input type="text" name="model" id="model" class="input_long_type" title="상세 모델" maxlength="50"></td>
                </tr>                
                <tr class="add_img_area">
                    <th>차량 이미지</th>
                    <td class="file_area">
                        <div class="thum_nail">
                            <span class="file_src"></span>
                            <input type="file" class="input_file" name="carImg" id="carImg">
                            <label for="carImg" class="btn_file">파일찾기</label>
                        </div>
                    </td>
                </tr>
               
                
            </table>
        </form>
        <div class="btn_area">
            <a href="list?@Session["searchString"]" class="btn_defualt btn_list">목록</a>
            <a href="javascript:void(0);" class="btn_defualt btn_reg" onclick="regForm();">등록</a>
        </div>
    </div>
</div>

<script>
    lnbSet(".carImg_mgmt");
(function(){
	$(".add_img_area").find(".file_area").on("change",".input_file",function(e){
		var $parent = $(this).closest("div");
		var val = $(this).val();
		var valTit = val.split("\\");
		var valTittext = valTit[valTit.length -1]
		if(val != ""){
			$parent.find(".file_src").text(valTittext).addClass("on");
		};
	});
})();

function regForm() {
    if (!$('#brand').reqSelect()) return;
    if (!$('#series').reqSelect()) return;
    if (!$('#model').required()) return;
    if ($('#carImg').val() == '') {
        alert('차량 이미지를 등록하세요.');
        return;
    }
    if (!validationFileType('png')) return;

    if (!confirm('등록하시겠습니까?')) return;
    $('#content form').attr('action', 'registerProc').submit();
};
</script>
