@{
    ViewBag.Title = "월 납입금 관리 등록";
}
<div id="content" class="reg">
    <div class="cont_top">
        <h3>월 납입금 등록</h3>
    </div>
    <div class="cont_bottom">
        <form method="post" enctype="multipart/form-data">
            <table class="reg_table">
                <caption>월 납입금 입력 테이블</caption>
                <colgroup>
                    <col width="150px">
                    <col width="870px">
                </colgroup>
                <tr>
                    <th scope="row"><label for="regId">작성자</label></th>
                    <td>@HttpContext.Current.User.Identity.Name<input type="hidden" name="regId" id="regId" value="@HttpContext.Current.User.Identity.Name" /></td>
                </tr>
                <tr>
                    <th scope="row"><label for="">* 분류</label></th>
                    <td>
                        <select name="brand" id="brand" title="분류">
                            <option value="BMW">BMW</option>
                            <option value="MINI">MINI</option>
                        </select>
                        <select name="series" id="series"  title="분류">
                            <option value=""></option>
                            <option value="3 Series">3 Series</option>
                        </select>
                        <select name="model" id="model"  title="분류">
                            <option value=""></option>
                            <option value="320">320</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><label for="modelName">* 상세 모델</label></th>
                    <td><input type="text" name="modelName" id="modelName" class="modelName" maxlength="50" title="상세모델" /></td>
                </tr>
                <tr class="add_img_area">
                    <th>* 차량 이미지</th>
                    <td class="file_area">
                        <div class="car_image">
                            <span class="file_src"></span>
                            <input type="file" class="input_file" name="carImg" id="carImg">
                            <label for="carImg" class="btn_file">찾아보기</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><label for="price">* 차량가격</label></th>
                    <td><input type="text" name="price" id="price" class="price" maxlength="50" title="차량가격" /> 원</td>
                </tr>
                <tr>
                    <th scope="row"><label for="item">* 상품 선택</label></th>
                    <td>
                        <select name="item" id="item" title="상품">
                            <option value="잔가보장형 할부">잔가보자형 할부</option>
                            <option value="일반 할부">일반 할부</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><label for="zanga">잔가</label></th>
                    <td><input type="text" name="zanga" id="zanga" class="zanga" maxlength="50" title="잔가" /> %</td>
                </tr>
                <tr>
                    <th scope="row"><label for="payment1">월 납입금 (선납 10%)</label></th>
                    <td><input type="text" name="payment1" id="payment1" class="payment1" maxlength="50" title="월 납입금" /> 원</td>
                </tr>
                <tr>
                    <th scope="row"><label for="payment2">월 납입금 (선납 20%)</label></th>
                    <td><input type="text" name="payment2" id="payment2" class="payment2" maxlength="50" title="월 납입금" /> 원</td>
                </tr>
                <tr>
                    <th scope="row"><label for="payment3">월 납입금 (선납 30%)</label></th>
                    <td><input type="text" name="payment3" id="payment3" class="payment3" maxlength="50" title="월 납입금" /> 원</td>
                </tr>
                <tr>
                    <th><label for="">배포 *</label></th>
                    <td class="radio_area">
                        <label for="active"><input type="radio" name="deployYn" id="active" value="Y" title="배포 여부"> 배포</label>
                        <label for="inactivity"><input type="radio" name="deployYn" id="inactivity" checked value="N" title="배포 여부"> 미배포</label>
                    </td>
                </tr>
            </table>
        </form>
        <div class="btn_area">
            <a href="list?@Session["searchString"]" class="btn_defualt btn_list">목록</a>
            <a href="javascript:void(0);" class="btn_defualt btn_reg" onclick="regForm();">등록</a>
        </div>
    </div>
</div>
<script>
    lnbSet(4, 1);
    function regForm() {

        if (!$('#brand').reqSelect()) return;
        if (!$('#series').reqSelect()) return;
        if (!$('#model').reqSelect()) return;
        if (!$('#modelName').required()) return;
        if ($('#carImg').val() == '') {
            alert('차량 이미지를 등록하세요.');
            return;
        }
        if (!$('#price').required()) return;
        if (!$('#item').reqSelect()) return;

        if (!confirm('등록하시겠습니까?')) return;

        $('#content form').attr('action', 'registerProc').submit();
    };

</script>