<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 내 ASP.NET 응용 프로그램</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/mgmt.css">
    <script src="/resources/js/jquery-1.12.4.min.js"></script>
    <script src="/resources/js/jquery-ui.min.js"></script>
    <script src="/resources/js/jquery.cust.js"></script>
    <script src="/resources/js/common.js"></script>
</head>
<body>
    <div id="wrap">
        <div id="content">
            <div class="content_wrap">
                @RenderBody()
            </div>
            <div id="footer"></div>
        </div>
</body>
</html>