<!DOCTYPE html>
<html>
<head>
    <title>BMW 파이낸셜 관리자</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">       
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="/resources/css/common.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/jquery-ui.css">
    <script src="/resources/js/jquery-1.12.4.min.js"></script>
    <script src="/resources/js/jquery-ui.min.js"></script>
    <script src="/resources/js/jquery.cust.js"></script>
    <script src="/resources/js/common.js"></script>
</head>
<body>
    <div id="wrap">
        <div id="header">
            <h1><a href="#"><img src="/resources/images/logo.png" alt=""></a></h1>
            <div class="header_inner">
                <h2>BMW FS 관리자</h2>
                <form method="post" action="/login/LogOff" id="logoutForm">
                    <div class="link_list">
                        <!--
                        <a href="#" class="on">관리자 관리</a>
                        <a href="#">미답변 1:1 문의 <span></span></a>
                        <a href="#">My Account</a>
                         -->
                        @Html.AntiForgeryToken()
                        <a href="javascript:void(0);" onclick="logout();">로그아웃</a>
                    </div>
                </form>
                <script>
                    function logout() {
                        $('#logoutForm').submit();
                    }
                </script>
            </div>
        </div>
        <div id="container">
            <div id="lnb">
                <ul class="menu_list">
                    @if (Request.IsAuthenticated && (HttpContext.Current.User.IsInRole("MASTER") || HttpContext.Current.User.IsInRole("IT")))
                    {
                    <li class="sub_list">
                        <a href="#">관리자 관리</a>
                        <ul>
                            <li class="admin_mgmt"><a href="/Admin/list">관리자 관리</a></li>
                            <li class="admin_log_mgmt"><a href="javascript:void(0);" onclick="alert('준비중입니다.');">관리자 로그 관리</a></li>
                        </ul>
                    </li>
                    }
                    @if (Request.IsAuthenticated && (HttpContext.Current.User.IsInRole("MASTER") || HttpContext.Current.User.IsInRole("MSS")))
                    {
                    <li class="sub_list">
                        <a href="#">프로모션 관리</a>
                        <ul>
                            <li class="web_promotion_mgmt"><a href="/Promotion/list">웹 프로모션</a></li>
                            <li class="mobile_promotion_mgmt"><a href="/MobilePromotion/list">모바일 프로모션</a></li>
                            <li class="catalog_mgmt"><a href="/Catalog/list">카탈로그 관리</a></li>
                        </ul>
                    </li>
                    <li class="payment_mgmt"><a href="/Payment/list">월납입금 관리</a></li>
                    <li class="news_mgmt"><a href="/News/list">뉴스 관리</a></li>
                    <li class="showroom_mgmt"><a href="/Showroom/list">전시장 관리 </a></li>
                    }
                    @if (Request.IsAuthenticated && (HttpContext.Current.User.IsInRole("MASTER") || HttpContext.Current.User.IsInRole("COMPLIANCE")))
                    {
                    <li class="sub_list">
                        <a href="#">법적 고지</a>
                        <ul>
                            <li class="privacy_mgmt"><a href="/privacy/list">개인정보처리방침</a></li>
                            <li class="credit_mgmt"><a href="/credit/list">신용정보활용체계</a></li>
                            <li class="product_mgmt"><a href="/product/list">상품약관</a></li>
                            <li class="business_mgmt"><a href="/business/list">경영공시</a></li>
                            <li class="general_mgmt"><a href="/general/list">일반공시</a></li>
                        </ul>
                    </li>
                    }
                    @if (Request.IsAuthenticated && (HttpContext.Current.User.IsInRole("MASTER") || HttpContext.Current.User.IsInRole("HR")))
                    {
                    <li class="sub_list">
                        <a href="#">인재채용</a>
                        <ul>
                            <li class="recruit_notice_mgmt"><a href="/Recruitnotice/list">채용 공고</a></li>
                            <li class="recruit_faq_mgmt"><a href="/Recruitfaq/list">채용 FAQ</a></li>
                        </ul>
                    </li>
                    }
                    @if (Request.IsAuthenticated && (HttpContext.Current.User.IsInRole("MASTER") || HttpContext.Current.User.IsInRole("CIC")))
                    {
                    <li class="sub_list">
                        <a href="#">고객센터</a>
                        <ul>
                            <li class="faq_mgmt"><a href="/Faq/list">FAQ</a></li>
                            <li class="inquiry_mgmt"><a href="/Inquiry/list">1:1 문의</a></li>
                            <li class="downloadform_mgmt"><a href="/DownloadForm/list">다운로드 자료/양식</a></li>
                        </ul>
                    </li>
                    }
                </ul>
            </div>
            @RenderBody()
        </div>
    </div>
</body>
</html>