@{
    ViewBag.Title = "경영공시 등록";
}
<style>
.add_file_area .file_area div { padding-bottom: 4px; }
.reg .cont_bottom .reg_table td.file_area p{float:none; clear:both; padding-top:10px}
.reg .cont_bottom .reg_table td.file_area p input[type="text"]{width:467px}
.reg h4{margin-bottom:10px}

.file_area{counter-reset:cnt1; }
.file_area:after{content:"* .pdf, .docx, .hwp 파일만 업로드 가능";}
.file_area > div{height: 38px;}
.file_src:after{counter-increment:cnt1; content:"파일"counter(cnt1); color:#ccc;}
.file_src.on:after{content:""; color:#666;}
.reg .cont_bottom .reg_table .event_btn_area input[type="text"]{margin-bottom: 10px; width: 467px;}
</style>
<div id="content" class="reg">
    <div class="cont_top">
        <h3>경영공시 등록</h3>
    </div>
    <div class="cont_bottom">
        <form method="post" enctype="multipart/form-data">
            <table class="reg_table">
                <caption>경영공시 입력 테이블</caption>
                <colgroup>
                    <col width="130px">
                    <col width="870px">
                </colgroup>
                <tr>
                    <th scope="row">작성자</th>
                    <td>@HttpContext.Current.User.Identity.Name</td>
                </tr>
                <tr>
                    <th scope="row"><label for="title">제목 *</label></th>
                    <td><input type="text" name="title" id="title" class="input_long_type" maxlength="50" value="" /></td>
                </tr>
                <tr>
                    <th scope="row"><label for="contents">내용 *</label></th>
                    <td><textarea rows="20" cols="30" id="contents" name="contents"></textarea> </td>
                </tr>
                <tr class="add_file_area">
                    <th>첨부파일 </th>
                    <td class="file_area">
                        <div>
                            <span class="file_src"></span>
                            <input type="file" class="input_file" name="file" id="file0">
                            <label for="file0" class="btn_file">파일찾기</label>
                            <button type="button" class="btn_add_file" id="btnAddFile">+</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><label for="">배포 *</label></th>
                    <td class="radio_area">
                        <label for="active"><input type="radio" name="deployYn" id="active" value="Y" title="배포 여부"> 배포</label>
                        <label for="inactivity"><input type="radio" name="deployYn" id="inactivity" checked value="N" title="배포 여부"> 미배포</label>
                    </td>
                </tr>
            </table>
        </form>
        <div class="btn_area">
            <a href="list?@Session["searchString"]" class="btn_defualt btn_list">목록</a>
            <a href="javascript:void(0);" class="btn_defualt btn_reg" onclick="regForm();">등록</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="/resources/se/js/HuskyEZCreator.js"></script>
<script type="text/javascript" src="/resources/js/smarteditor.js"></script>
<script>
    lnbSet(".business_mgmt");
    (function ($) {
        var $fileArea = $(".add_file_area").find('.file_area');

        function deleteFile() {
            $(this).parent("div").remove();
        }

        $(".add_file_area").find(".file_area").on("change", ".input_file", function (e) {
            var $parent = $(this).closest("div");
            var val = $(this).val();
            var valTit = val.split("\\");
            var valTittext = valTit[valTit.length - 1]
            if (val != "") {
                $parent.find(".file_src").text(valTittext).addClass("on");
            };
        });

        $(".add_file_area").each(function (index, item) {
            var cnt = 0;
            $(item).find(".btn_add_file").on("click", function () {
                if ($(item).find("input[type='file']").length < 10) {
                    cnt++;
                    var html = '<div><span class="file_src"></span><input type="file" class="input_file" id="file' + cnt + '" name="file" /><label for="file' + cnt + '" class="btn_file">파일찾기</label><button type="button" class="btnDelete">-</button></div>';
                    $(item).find(".file_area").append(html);
                };
            });
            $fileArea.on("click", ".btnDelete", deleteFile);
        });
    })(jQuery);
    function regForm() {
        if (!$('#title').required()) return;
        editor_object.getById["contents"].exec("UPDATE_CONTENTS_FIELD", []);
        if (!$('#contents').required()) return;
        if (!$('input[name=deployYn]').reqRadio()) return;

        if (!confirm('등록하시겠습니까?')) return;
        $('#content form').attr('action', 'registerProc').submit();
    };

</script>