<div id="content" class="reg">
    <div class="cont_top">
        <h3>관리자 관리</h3>
    </div>
    <div class="cont_bottom">
        <form method="post" enctype="multipart/form-data">
            <table class="reg_table">
                <colgroup>
                    <col width="130px" />
                    <col width="870px" />
                </colgroup>
                <tr>
                    <th><label for="id">ID *</label></th>
                    <td><input type="text" name="userId" id="id" class="" title="ID" maxlength="25"> <a href="javascript:void(0);" class="btn_defualt" id="btn_overlap" onclick="duplicationCheck();">check</a></td>
                </tr>
                <!--
                <tr>
                    <th><label for="pass">비밀번호 *</label></th>
                    <td><input type="password" name="password" id="pass" class="" title="비밀번호" maxlength="25"></td>
                </tr>
                <tr>
                    <th><label for="passOk">비밀번호 확인 *</label></th>
                    <td><input type="password" name="" id="passOk" class="" title="비밀번호 확인" maxlength="25"></td>
                </tr>
                    -->
                <tr>
                    <th><label for="role">관리자 권한 *</label></th>
                    <td>
                        <input type="checkbox" name="roles" id="role1" class="role_master" value="MASTER" /><label for="role1"> MASTER</label>&nbsp;&nbsp;
                        <input type="checkbox" name="roles" id="role2" class="role_others" value="IT" /><label for="role2"> IT</label>&nbsp;&nbsp;
                        <input type="checkbox" name="roles" id="role3" class="role_others" value="MSS" /><label for="role3"> MSS</label>&nbsp;&nbsp;
                        <input type="checkbox" name="roles" id="role4" class="role_others" value="COMPLIANCE" /><label for="role4"> COMPLIANCE</label>&nbsp;&nbsp;
                        <input type="checkbox" name="roles" id="role5" class="role_others" value="HR" /><label for="role5"> HR</label>&nbsp;&nbsp;
                        <input type="checkbox" name="roles" id="role6" class="role_others" value="CIC" /><label for="role6"> CIC</label>&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <th><label for="active">상태</label></th>
                    <td class="radio_area">
                        <label for="active"><input type="radio" name="activeYn" id="active" value="Y" checked title="상태"> 활성</label>
                        <label for="inactivity"><input type="radio" name="activeYn" id="inactivity" value="N" title="상태"> 비활성</label>
                    </td>
                </tr>
            </table>
        </form>
        <div class="btn_area">
            <a href="list" class="btn_defualt btn_list">목록</a>
            <a href="javascript:void(0);" class="btn_defualt btn_reg" onclick="regForm();">등록</a>
        </div>
    </div>
</div>
<script>
    lnbSet(".admin_mgmt");
    var isDuplicated = true;
    function duplicationCheck() {
        if (!$('#id').required()) return;
        $.ajax({
            url: 'isDuplicated',
            data: { 'userId': $('#id').val() },
            dataType: 'json',
            timeout: 10000,
            cache: false,
            type: 'POST',
            beforeSend: function () {
                //$.blockUI(_BLOCKUI_OPTION);
            },
            complete: function () {
                //$.unblockUI();
            },
            error: function (x, e) {
                alert('요청하신 작업을 수행하던 중 예상치 않게 중지되었습니다.\n\n다시 시도해 주십시오.');
            },
            success: function (data) {
                if (data == -1) {
                    alert('동일한 관리자 ID가 존재합니다.');
                    isDuplicated = true;
                    return;
                } else if (data == 1) {
                    alert('등록 가능합니다.');
                    isDuplicated = false;
                    return;
                } else if (data == -2) {
                    alert('내부 ID가 존재하지 않습니다.');
                    isDuplicated = true;
                    return;
                }
                return;
            }
        });
    };

    function regForm() {
        var roleCnt = 0;
        if (!$('#id').required()) return;
        if (isDuplicated) {
            alert('아이디를 검증하세요.');
            return;
        }
        /*
        if (!$('#pass').required()) return;
        if (!$('#pass').isvalidpwd()) return;
        if (!$('#passOk').required()) return;
        if ($('#pass').val() != $('#passOk').val()) {
            alert('비밀번호가 일치하지 않습니다.');
            return;
        }
        */
        $('input[name="roles"]').each(function () {
            if ($(this).prop('checked')) {
                roleCnt++;
            }
        });
        if (roleCnt == 0) {
            alert('권한을 선택해주세요.');
            return;
        } 

        if (!confirm('등록하시겠습니까')) return;
        $('#content form').attr('action', 'registerProc').submit();
    };

    $('#id').change(function () {
        isDuplicated = true;
    });

    $('#role1').change(function () {
        if ($(this).prop('checked')) {
            $('.role_others').prop('checked', true).prop('disabled', true);
        } else {
            $('.role_others').prop('disabled', false).prop('checked', false);
        }
    });
</script>
