<div id="content" class="reg">
    <div class="cont_top">
        <h3>관리자 관리</h3>
    </div>
    <div class="cont_bottom">
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" name="idx" value="@ViewBag.item.idx" />
            <table class="reg_table">
                <colgroup>
                    <col width="130px" />
                    <col width="870px" />
                </colgroup>
                <tr>
                    <th>ID </th>
                    <td>@ViewBag.item.userId</td>
                </tr>
                <tr>
                    <th><label for="role">관리자 권한</label></th>
                    <td>@ViewBag.item.role</td>
                </tr>
                <tr>
                    <th><label for="">상태</label></th>
                    <td class="radio_area">
                        @if ("Y".Equals(@ViewBag.item.activeYn))
                        {
                            @:활성
                        }
                        else
                        {
                            @:비활성
                        }
                    </td>
                </tr>
            </table>
        </form>
        <div class="btn_area">
            <a href="list?@Session["searchString"]" class="btn_defualt btn_list">목록</a>
            <div class="view_btn_area">
                <a href="modify?idx=@ViewBag.item.idx" class="btn_defualt btn_modifyt">수정</a>
                <a href="javascript:void(0);" class="btn_defualt btn_delete" onclick="delForm();">삭제</a>
            </div>
        </div>
    </div>
</div>
<script>
    lnbSet(8, 1);
    function delForm() {
        if (!confirm('삭제하시겠습니까?')) return;
        $('#content form').attr('action', 'delete').submit();
    };
</script>
