<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="true" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
    <setting useReflectionOptimizer="true"/>
  </settings>
  
  <providers resource="providers.config"/>
  <database>
    <provider name="sqlServer2005"/>
    <dataSource name="mssql" connectionString="Data Source=210.219.173.209;Initial Catalog=bmw; User ID=bmw_asp;Password=bmw_uber_@@"/>
  </database>
  
  <sqlMaps>
    <sqlMap resource="./Dao/impl/board/Board.xml" />
    <sqlMap resource="./Dao/impl/news/News.xml" />
    <sqlMap resource="./Dao/impl/common/Sequence.xml" />
    <sqlMap resource="./Dao/impl/common/Files.xml" />
    <sqlMap resource="./Dao/impl/admin/Member.xml" />
    <sqlMap resource="./Dao/impl/recruit/RecruitNotice.xml" />
    <sqlMap resource="./Dao/impl/legalNotice/privacy.xml" />
    <sqlMap resource="./Dao/impl/legalNotice/credit.xml" />
    <sqlMap resource="./Dao/impl/legalNotice/general.xml" />
  </sqlMaps>
</sqlMapConfig>