<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="true" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
    <setting useReflectionOptimizer="true"/>
  </settings>

  <providers resource="providers.config"/>
  <database>
    <provider name="sqlServer2005"/>
    <!--
    <dataSource name="mssql" connectionString="Data Source=210.219.173.209;Initial Catalog=kd; User ID=kd;Password=kd*7^5"/>
    -->
    <dataSource name="mssql" connectionString="Data Source=172.30.81.126;Initial Catalog=smartuc; User ID=www_user;Password=adsf1212"/>

  </database>

  <sqlMaps>
    <sqlMap resource="./Dao/impl/admin/Sms.xml" />
    

  </sqlMaps>
</sqlMapConfig>