<!doctype html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../../resource/css/common.css">

<title>Document</title>
<style>
.file_area > div{margin-bottom:10px;}
.file_area > div > .file_src , .file_area > div > .btn_file, .file_area > div > button{float:left; margin-left:10px;}
.file_area > div .file_src{overflow:hidden; display:block; width:200px; height:35px; margin-left:0; padding:0 6px; line-height:39px; font-size:13px; border:1px solid #c7c7c7;  text-overflow:ellipsis; white-space:nowrap; word-wrap:normal;}
.file_area input[type="file"]{width:0; height:0; text-indent:-9999px;}
.btn_file{display:block; width:120px; height:35px; line-height:35px; border:1px solid #c8c8c8; text-align:center; cursor:pointer;}
.file_area button{display:block; width:120px; height:37px; border:1px solid #c8c8c8}
.reg .cont_bottom .reg_table td.file_area p{float:none; clear:both; padding-top:10px}
.reg .cont_bottom .reg_table td.file_area p input[type="text"]{width:467px}
.reg h4{margin-bottom:10px}




.file_area{counter-reset:cnt1; }
.file_src:after{counter-increment:cnt1; content:"이미지"counter(cnt1); color:#ccc;}
.file_src.on:after{content:""; color:#666;}
.thum_nail:after{content:"사이즈 307 * 233"; display:inline-block; padding: 7px 0 0 5px}
.top_main_text:after{content:"사이즈 950 * 258 "; display:inline-block; padding: 7px 0 0 5px}


</style>
</head>
<body>
<div id="wrap">
	<div id="header">
		<h1><a href=""><img src="../../resource/images/logo.png" alt=""></a></h1>
		<div class="header_inner">
			<h2>BMW FS 관리자</h2>
			<div class="link_list">
				<a href="#" class="on">관리자 관리</a>
				<a href="#">미답변 1:1 문의 <span></span></a>
				<a href="#">My Account</a>
				<a href="#">로그인</a>
			</div>
		</div>
	</div>
	<div id="container">
		<div id="lnb">
			<ul class="menu_list">
				<li class="sub_list on">
					<a href="#">메인롤링 관리</a>
					<ul>
						<li><a href="#">웹 메인롤링</a></li>
						<li><a href="#">모바일 메인롤링</a></li>
					</ul>
				</li>
				<li class="sub_list">
					<a href="#">프로모션 관리</a>
					<ul>
						<li><a href="#">웹 프로모션</a></li>
						<li><a href="#">모바일 프로모션</a></li>
					</ul>
				</li>
				<li><a href="#">배너 관리</a></li>
				<li><a href="#">월납입금 관리</a></li>
				<li><a href="#">뉴스 관리</a></li>
				<li><a href="#">전시장 관리 </a></li>
				<li><a href="#">법적 고지</a></li>
				<li class="sub_list">
					<a href="#">인재채용</a>
					<ul>
						<li><a href="#">채용 공고</a></li>
						<li><a href="#">채용 FAQ</a></li>
					</ul>
				</li>
				<li class="sub_list">
					<a href="#">고객센터</a>
					<ul>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">1:1 문의</a></li>
						<li><a href="#">다운로드 자료/양식</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div id="content" class="reg">
			<div class="cont_top">
				<h3>웹 프로모션</h3>
			</div>
			<div class="cont_bottom">
				<table class="reg_table">
					<colgroup>
						<col width="130px" />
						<col width="*" />
					</colgroup>
					<tr>
						<th>작성자</th>
						<td>홍길동</td>
					</tr>
					<tr>
						<th><label for="">게시 기간</label></th>
						<td><input type="date"> ~ <input type="date"></td>
					</tr>
					<tr>
						<th>게재 위치</th>
						<td class="checkbox_area"><label for="korSite"><input type="checkbox" id="korSite" checked> 국문사이트</label><label for="engSite"><input type="checkbox" id="engSite"> 영문사이트</label></td>
					</tr>
					<tr>
						<th><label for="">배포</label></th>
						<td class="radio_area">
							<label for="active"><input type="radio" name="radio_chk" id="active"> 배포</label>
							<label for="inactivity"><input type="radio" name="radio_chk" id="inactivity" checked> 미배포</label>
						</td>
					</tr>
				</table>
				<h4>국문사이트</h4>
				<table class="reg_table">
					<colgroup>
						<col width="130px" />
						<col width="*" />
					</colgroup>
					<tr>
						<th><label for="tit">제목</label></th>
						<td><input type="text" class="tit" id="tit"></td>
					</tr>
					<tr class="add_img_area">
						<th>썸네일 이미지</th>
						<td class="file_area">
							<div class="thum_nail">
								<span class="file_src"></span>
								<input type="file" class="input_file" name="thumNail" id="thumNail">
								<label for="thumNail" class="btn_file">파일찾기</label>
							</div>
						</td>
					</tr>
					<tr class="add_img_area">
						<th>본문 상단 이미지</th>
						<td class="file_area">
							<div class="top_main_text">
								<span class="file_src"></span>
								<input type="file" class="input_file" name="topMainText" id="topMainText">
								<label for="topMainText" class="btn_file">파일찾기</label>
							</div>
						</td>
					</tr>
					<tr class="add_img_area kor">
						<th>본문 이미지</th>
						<td class="file_area">
							<div>
								<span class="file_src"></span>
								<input type="file" class="input_file" name="file_0" id="file0">
								<label for="file0" class="btn_file">파일찾기</label>
								<button type="button" class="btn_add_file" id="btnAddFile">첨부파일 추가</button>
								<p><label for="url0"><input type="text" name="url_0" id="url0" placeholder="이미지에 대한 링크 URL"></label></p>
							</div>
						</td>
					</tr>
				</table>
				<h4>영문사이트</h4>
				<table class="reg_table">
					<colgroup>
						<col width="130px" />
						<col width="*" />
					</colgroup>
					<tr>
						<th><label for="tit">제목</label></th>
						<td><input type="text" class="tit" id="tit"></td>
					</tr>
					<tr class="add_img_area">
						<th>썸네일 이미지</th>
						<td class="file_area">
							<div class="thum_nail">
								<span class="file_src"></span>
								<input type="file" class="input_file" name="engThumNail" id="engThumNail">
								<label for="engThumNail" class="btn_file">파일찾기</label>
							</div>
						</td>
					</tr>
					<tr class="add_img_area">
						<th>본문 상단 이미지</th>
						<td class="file_area">
							<div class="top_main_text">
								<span class="file_src"></span>
								<input type="file" class="input_file" name="engTopMainText" id="engTopMainText">
								<label for="engTopMainText" class="btn_file">파일찾기</label>
							</div>
						</td>
					</tr>
					<tr class="add_img_area eng">
						<th>본문 이미지</th>
						<td class="file_area">
							<div>
								<span class="file_src"></span>
								<input type="file" class="input_file" name="engfile_0" id="engfile0">
								<label for="engfile0" class="btn_file">파일찾기</label>
								<button type="button" class="btn_add_file" id="btnAddFile">첨부파일 추가</button>
								<p><label for="engurl0"><input type="text" name="engurl_0" id="engurl0" placeholder="이미지에 대한 링크 URL"></label></p>
							</div>
						</td>
					</tr>
				</table>
				<div class="btn_area">
					<a href="list.html" class="btn_defualt btn_list">목록</a>
					<a href="view.html" class="btn_defualt btn_reg">등록</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="../../resource/js/lib/jquery-1.12.0.min.js"></script>
<script>
(function($){
	var $fileArea = $(".add_img_area").find('.file_area');

	function deleteFile(){
		$(this).parent("div").remove();
	}
	
	$(".add_img_area").find(".file_area").on("change",".input_file",function(e){
		var $parent = $(this).closest("div");
		var val = $(this).val();
		var valTit = val.split("\\");
		var valTittext = valTit[valTit.length -1]
		if(val != ""){
			$parent.find(".file_src").text(valTittext).addClass("on");
		};
	});
	
	$(".add_img_area").each(function(index, item){
		var cnt = 0;
		$(item).find(".btn_add_file").on("click" , function(){
			if($(item).find( "input[type='file']" ).length < 20){
				cnt++;
				if($(item).is(".kor")){
					var html = '<div><span class="file_src"></span><input type="file" class="input_file" id="file' + cnt + '" name="file_' + cnt + '" /><label for="file' + cnt + '" class="btn_file">파일찾기</label><button type="button" class="btnDelete">첨부파일 삭제</button><p><label for="url'+ cnt +'"><input type="text" name="url_'+ cnt +'" id="url'+ cnt +'"placeholder="이미지에 대한 링크 URL"></label></p></div>';
					console.log("kor", cnt);
				}
				if($(item).is(".eng")){
					var html = '<div><span class="file_src"></span><input type="file" class="input_file" id="engfile' + cnt + '" name="engfile_' + cnt + '" /><label for="engfile' + cnt + '" class="btn_file">파일찾기</label><button type="button" class="btnDelete">첨부파일 삭제</button><p><label for="engurl'+ cnt +'"><input type="text" name="engurl_'+ cnt +'" id="url'+ cnt +'"placeholder="이미지에 대한 링크 URL"></label></p></div>';
					console.log("eng", cnt);
				}
				$(item).find(".file_area").append(html);
			};
		});
		$fileArea.on("click" , ".btnDelete" ,deleteFile);
	});
})(jQuery);






</script>
</body>
</html>