@{
    ViewBag.Title = "경영공시 등록";
}
<div id="content" class="reg">
    <div class="cont_top">
        <h3>경영공시 등록</h3>
    </div>
    <div class="cont_bottom">
        <form method="post" enctype="multipart/form-data">
            <table class="reg_table">
                <caption>경영공시 입력 테이블</caption>
                <colgroup>
                    <col width="130px">
                    <col width="870px">
                </colgroup>
                <tr>
                    <th scope="row"><label for="regId">작성자</label></th>
                    <td>@HttpContext.Current.User.Identity.Name<input type="hidden" name="regId" id="regId" value="@HttpContext.Current.User.Identity.Name" /></td>
                </tr>
                <tr>
                    <th scope="row"><label for="title">* 제목</label></th>
                    <td><input type="text" name="title" id="title" class="title" maxlength="50" value="" /></td>
                </tr>
                <tr>
                    <th scope="row"><label for="contents">* 내용</label></th>
                    <td><textarea rows="20" cols="30" id="contents" name="contents"></textarea> </td>
                </tr>
                <tr class="add_img_area">
                    <th>파일 *</th>
                    <td class="file_area">
                        <div class="thum_nail">
                            <span class="file_src"></span>
                            <input type="file" class="input_file" name="file" id="file">
                            <label for="file" class="btn_file">파일찾기</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><label for="">배포 *</label></th>
                    <td class="radio_area">
                        <label for="active"><input type="radio" name="deployYn" id="active" value="Y" title="배포 여부"> 배포</label>
                        <label for="inactivity"><input type="radio" name="deployYn" id="inactivity" checked value="N" title="배포 여부"> 미배포</label>
                    </td>
                </tr>
            </table>
        </form>
        <div class="btn_area">
            <a href="list?@Session["searchString"]" class="btn_defualt btn_list">목록</a>
            <a href="javascript:void(0);" class="btn_defualt btn_reg" onclick="regForm();">등록</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="/resources/se/js/HuskyEZCreator.js"></script>
<script type="text/javascript" src="/resources/js/smarteditor.js"></script>
<script>
    lnbSet(7, 4);
    function regForm() {

        if (!confirm('등록하시겠습니까?')) return;
        if (!$('#title').required()) return;
        editor_object.getById["contents"].exec("UPDATE_CONTENTS_FIELD", []);
        if (!$('#contents').required()) return;
        $('#content form').attr('action', 'registerProc').submit();
    };

</script>