@charset "UTF-8";

html,body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0; padding:0}
body{font-family:'NotoSans', sans-serif, Helvetica; font-size:14px; line-height:1.45em; color:#333; letter-spacing:-1px; -webkit-text-size-adjust:none; }
h1,h2,h3,h4,h5,h6,strong{font-weight:normal; font-size:100%;}
fieldset,img,button{border:0;}
img,input,button,select{vertical-align:top;}
table{border-collapse:collapse;}
address,em{font-style:normal;}
ol,ul{list-style:none;}
hr{display:none;}
a{text-decoration:none; color:#333;}
a:hover,a:active{text-decoration:none;}
legend{position:absolute; left:-9999px; top:0}
caption{overflow:hidden; width:0; height:0; font-size:0; line-height:0;}
button{background:none; cursor:pointer;}
button::-moz-focus-inner{padding:0; border:0;}
body{min-height:100%;}
textarea{font-family:'NotoSans', sans-serif, Helvetica;}
.screen_out{display: block; overflow: hidden; position:absolute; left:-9999px; width:1px; height:1px; font-size:0; line-height:0; text-indent:-9999px;}

/* common */

::-webkit-input-placeholder { color: #c3c3c3;} /* Chrome */
:-ms-input-placeholder { color: #c3c3c3;} /* IE 10+ */
::-moz-placeholder { color: #c3c3c3;opacity: 1;} /* Firefox 19+ */
:-moz-placeholder { color: #c3c3c3;opacity: 1;} /* Firefox 4 - 18 */
input[type="text"], input[type="password"],select{border:1px solid #ccc;}
/* layout */
body, html {
    height: 100%;
}
#wrap{position:relative; height:100%; }
#header{position:absolute; left:0; top:0; width:100%; min-width:1200px; height:67px; background-color:#8e8e8e; z-index:10}
#header h1{position:absolute; left:27.5px; top:20px;}
#header .header_inner{overflow:hidden; padding-top:15px;}
#header h2{float:left; padding:5px 0 0 189px; font-size:20px; color:#fff; }
#header .link_list{overflow:hidden; float:right; margin-right:27.5px}
#header .link_list a{float:left; width:130px; height:37px; line-height:37px; margin-left:10px; background-color:#fff; text-align:center}
#header .link_list a:first-child{margin-left:0;}
#header .link_list a.on{color:#fff; background-color:#1d6ad6;}
#header .link_list{}

#container{position:absolute; left:0; top:0; width:100%; min-height:100%;}
#lnb{position:absolute; left:0; top:0; width:156px; height:100%; background-color:#f4f4f4;}
#lnb .menu_list{padding:157px 0 0 30px;}
#lnb .menu_list > li{margin-bottom:18px}
#lnb .menu_list > li > a{font-weight:bold; color:#3d3d3d;}
#lnb .menu_list > li.on > a{color:#1f69d2;}
#lnb .menu_list > li li{margin-left:6px;}
#lnb .menu_list > li li.on > a {color: #1f69d2;}
#lnb .menu_list > li li a{font-size:12px; color:#777;}
#lnb .menu_list > li.sub_list > a{display:block; margin-bottom:10px}

#content{overflow:hidden; padding:108px 0 50px 190px; width:1050px}
.cont_top h3{font-weight:bold; font-size:18px;}
.cont_top{overflow:hidden; padding-bottom:8px; margin-bottom:10px; border-bottom:1px solid #7e7e7e}

.list .cont_top h3{float:left;}
.list .search_box{float:right;}
.list .search_box input{height:33px;}
.list .search_box select{width:100px; height:37px;}
.list .search_box button{width:37px; height:37px; border:1px solid #a9a9a9; background:url(/resources/images/btn_search.jpg) center center no-repeat}
.list .cont_bottom .list_table{width:100%; margin-bottom:10px; border-left:1px solid #ccc;}
.list .cont_bottom .list_table thead th{padding:13px 0; border-top:1px solid #ccc; border-bottom:1px solid #ccc; border-right:1px solid #ccc;  background-color:#f4f4f4;}
.list .cont_bottom .list_table tbody tr td{padding:13px 0; border-bottom:1px solid #ccc; border-right:1px solid #ccc; text-align:center; box-sizing:border-box;}
.list .cont_bottom .list_table tbody tr td.tit{padding-left:13px; text-align:left;}
.list .cont_bottom .list_table tbody tr td.tit_area {padding-left: 10px; text-align: left;}
.list .cont_bottom .list_table tbody tr td.tit_area_center {
    font-weight: bold;
    padding-left: 10px;
    text-align: center;
}

.reg .cont_top{margin-bottom:20px;}
.reg .cont_bottom .reg_table{width:100%; margin-bottom:10px; border-top:2px solid #828282}
.reg .cont_bottom .reg_table th, .reg .cont_bottom .reg_table td{padding:13px 0; border-bottom:1px solid #ccc}
.reg .cont_bottom .reg_table th{background-color:#f4f4f4;}
.reg .cont_bottom .reg_table td{padding-left:13px;}
.reg .cont_bottom .reg_table td input{vertical-align:middle;}
.reg .cont_bottom .reg_table td input[type="text"], .reg .cont_bottom .reg_table td input[type="password"] ,.reg .cont_bottom .reg_table td input[type="date"]{width:215px; height:33px; padding-left:5px; }
.reg .cont_bottom .reg_table td select{width:224px; height:37px}
.reg .cont_bottom .reg_table td input.tel_num_input{width:95px;}
.reg .cont_bottom .reg_table td.password:after{content:"영문 대/소문자, 숫자, 특수문자 조합 8자리 이상"; display:inline-block; padding:7px 0 0 5px; }
.reg .cont_bottom .reg_table td.email:after{content:"@ bmw.co.kr"; display:inline-block; padding:7px 0 0 5px; }
.reg .cont_bottom .reg_table td.radio_area label:first-child, .reg .cont_bottom .reg_table td.checkbox_area label:first-child {margin-right:15px;}
.reg .cont_bottom .reg_table td label input{margin-top:-2px}
.reg .cont_bottom .reg_table td input.tit{width:456px}
.reg .cont_bottom .reg_table td input.num{width:37px}
.reg .cont_bottom .reg_table td.rolling_img:after{content:"사이즈 1400 * 600"; display:inline-block; padding:7px 0 0 5px; }
.reg .cont_bottom .reg_table td.contents {white-space: pre-line}

.btn_defualt{display:inline-block; width:130px; height:37px; line-height:37px; color:#fff; background-color:#666; text-align:center;}
.btn_defualt.btn_reg,.btn_defualt.btn_modify,.btn_defualt.btn_delete{background-color:#1c69d4;color:#fff;} 
.btn_small{display:inline-block; width:70px; height:37px; line-height:37px; color:#282828; background-color:#bbbbbb; text-align:center;}
.btn_area{overflow:hidden;}
.btn_defualt.btn_list{float:left}
.btn_defualt.btn_reg {float: right; margin-left:5px}
.view_btn_area{float:right}
.view_btn_area a{background-color:#fff; color:#666; border:1px solid #666}
.view_btn_area a:first-child{margin-right:5px}

#paging{padding-top:4px; text-align:center;}
#paging .paging_box{display:inline-block; width:26px; height:26px; line-height:26px; background-color:#f2f2f2; border:1px solid #c8c8c8; text-align:center}
#paging em.paging_box{background-color:#666666; color:#fff;}


.file_area > div {margin-bottom: 10px;}
.file_area > div > .file_src, .file_area > div > .btn_file, .file_area > div > button {float: left; margin-left: 10px;}
.file_area > div .file_src {overflow: hidden; display: block; width: 532px; height: 35px; margin-left: 0; padding: 0 6px; line-height: 39px; font-size: 13px; border: 1px solid #c7c7c7; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal;}
.file_area input[type="file"] {width: 0; height: 0; text-indent: -9999px;}
.add_file_area .file_area div.file_comment {display:inline-block;padding-top:5px; margin-bottom: 0; padding-bottom:0;}
.file_area div.file_comment {display:inline-block;padding-top:5px; margin-bottom: 0; padding-bottom:0;}
.btn_file {display: block; width: 120px; height: 35px; line-height: 35px; border: 1px solid #c8c8c8; text-align: center; cursor: pointer;}
.file_area button {display: block; width: 120px; height: 37px; border: 1px solid #c8c8c8}
.file_area button.btnDelete,.file_area button.btn_add_file,.btn_file {background-color:#bbbbbb;color:#282828; }
.file_area button.btnDelete,.file_area button.btn_add_file{width:37px;font-size:25px;}
.reg .cont_bottom .reg_table td input[type="text"].input_long_type {width: 900px;}
.reg .cont_bottom .reg_table td textarea {width: 666px; height: 300px; padding: 5px; resize: none;}
.tdTextArea{white-space:pre;}

/*webPromotion*/
.rolling .cont_bottom p{margin-bottom:15px}
.rolling .rolling_list{overflow:hidden; display:none}
.rolling .rolling_list.on{display:block;}
.rolling .rolling_list li{float:left; margin:0 0 30px 50px; width: 301px;}
.rolling .rolling_list li:first-child{margin-left:0;}
.rolling .rolling_list li.rolling_list4{margin-left:0;}
.rolling .rolling_list li a > span{display:block; margin-bottom:5px;}
.rolling .rolling_list li a span.tit_area { height: 40px;}
.rolling .rolling_list li a span.date_area {font-size: 13px; color: gray;}
.tab{overflow:hidden; width:400px; margin-bottom:15px; border:1px solid #ccc}
.tab li{float:left; }
.tab li a{display:block; width:200px; height:37px; line-height:37px; text-align:center;}
.tab li.on a{background-color:#ccc;}
.img_area{position:relative; width:300px; height:214px; margin-bottom:10px;}
.img_area img{position:absolute; left:0; top:0; width:100%; height: 100%;}
.tit_area{font-weight:bold;}
.country_area span{display:inline-block; width:40px; padding:2px 0; color:#fff; font-size:12px; background-color:#666; text-align:center}

/* list_area */
.list_area{width:1048px; border:1px solid #ccc;margin:10px 0;display:inline-block;padding:10px 0;}
.list_area {overflow:hidden;}
.list_area li{float:left; padding:5px 0;}
.list_area li a{display:block; padding:0 18px; font-size:14px; border-left:1px solid #ccc;}
.list_area ul li:nth-child(1) a{border-left:0px;}
.list_area li.on a{font-weight:bold;color:#1c69d4;}
